.container {
    max-width: $container-width;
    margin: 0 auto;            
    padding: 18px 20px;       
}

.full-width-container {
    width: 1500px;
    margin: 0 auto;     
    padding: 18px 0;   
}