// CONTAINERS 

$container-width: 1250px;

// COLOURS

$pure-white: #FFFFFF;
$violet: #f024f6;
$pink: #ff009a;
$midnight-blue: #2b0057;
$purple-grad: linear-gradient(90deg, #6a0dad 0%, #d81bca 100%);
$purple: rgb(34, 0, 65);
$glass-bg: rgba(255, 255, 255, 0.1);
$glass-border: rgba(255, 255, 255, 0.2);
$gray: #593f70;
$lighter-gray: #9483a4;
$bg-color: #1e0044;
$card-glass: rgba(255, 255, 255, 0.06);
$gradient-blue: #7000ff;
$gradient-purple: #c026d3;
$gradient-pink: #f900c3;
$midnight: #1e293b;
$make-purple: #ff00ff; // The hover color seen in Sales
$subtext: #64748b;
$white: #ffffff;
$bg-dark: #2e0052;

// FONT WEIGHT
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;
$fw-800: 800;

// FONT SIZES

$fs-12: 12px;
$fs-14: 14px;
$fs-16: 16px;
$fs-20: 18px;
$fs-25: 25px;
$fs-28: 28px;
$fs-30: 30px;
$fs-35: 35px;
$fs-50: 50px;